<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
.tab1{
    width: 80%;
    height: 400px;
    background-color: aqua;
}
</style>


<body>
    <form action="/prototype" method="POST">
        <input name="try1" type="button" value="i am button 1">1</input>
        <button name="try1" type="submit" value="i am button 2">2</button>
        <button name="try1" type="submit" value="i am button 3">3</button>
    </body>
</html>