.navbar{
    background-color: rgb(209, 248, 248);
    display: flex;
    width: 100%;
}
.navbar a{
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    font-weight: 300;
    color: black;
    font-size: 20px;
}
.navbar a:hover{
    background-color: rgb(32, 212, 32);
    color: white;
}
.container{
    border: 1px solid;
    border-radius: 10px;
    width: 75%;
    margin: 10px auto 10px auto;
    padding: 10px;
    display: flex;
}

.div-1, .div-2{
    margin: 5px;
}

.div-1 img{
    border: 1px solid;
    width: 200px;
    height: 200px;
}